<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= product.productName  %></title>
</head>
<body>
    <h1><%= product.productName %></h1>
    <ul>
        <li>Price: <%= product.price  %></li>
        <li>Category: <%= product.category %></li>
        <li>UOM: <%= product.uom %></li>
    </ul>

</body>
</html>